<app-upload></app-upload>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Hire Date</th>
            <th>Division</th>
            <th>Division Parent</th>
            <th>Manager Name</th>
            <th>Test Attempt</th>
            <th>Attempt Date</th>
            <th>Score</th>
            <th>Assessment</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let d of iData">
            <a routerLink = "/importdata/detail/{{d.employeeId}}/{{d.hireDate}}">{{d.employeeId}}</a>
            <td>{{d.employeeFirstName}} {{d.employeeLastName}}</td>            
            <td>{{d.hireDate | date: 'shortDate'}}</td>
            <td>{{d.division}}</td>
            <td>{{d.divisionParent}}</td>
            <td>{{d.managerFirstName}} {{d.managerLastName}}</td>            
            <td>{{d.testAttempt}}</td>
            <td>{{d.attemptDate | date: 'shortDate'}}</td>
            <td>{{d.score}}</td>
            <td>{{d.assessment}}</td>
        </tr>
    </tbody>
</table>
