<app-upload></app-upload>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Lastname</th>
            <th>Employee Firstname</th>
            <th>Hire Date</th>
            <th>Division</th>
            <th>Division Parent</th>
            <th>Manager Lastname</th>
            <th>Manager Firstname</th>
            <th>Test Attempt</th>
            <th>Attempt Date</th>
            <th>Score</th>
            <th>Assessment</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let d of iData">
            <td>{{d.employeeId}}</td>
            <td>{{d.employeeLastName}}</td>
            <td>{{d.employeeFirstName}}</td>
            <td>{{d.hireDate}}</td>
            <td>{{d.division}}</td>
            <td>{{d.divisionParent}}</td>
            <td>{{d.managerLastName}}</td>
            <td>{{d.managerFirstName}}</td>
            <td>{{d.testAttempt}}</td>
            <td>{{d.attemptDate}}</td>
            <td>{{d.score}}</td>
            <td>{{d.assessment}}</td>
            <td>{{d.duration}}</td>
        </tr>
    </tbody>
</table>
