button
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-bottom: 0%;
}
#uploadButton
{
    float: right;
}
div
{
    padding-left: 3px;
}
table
{
    border: solid lightgray;
}