.full-width-table {
  width: 98%;
  border: solid lightgray;
  margin-left:1%; 
  margin-right:2%;

}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-row:hover .mat-cell {
  border-color: black;
}